@charset "UTF-8"

@import 'config'

@media all

	@import '1stylus/1reset' // optional

	@import '1stylus/layout_helper'

	@import '1stylus/text'

	//@import '1stylus/grid'
	
	//@import '1stylus/fontsize'

	@import 'layout'

@media print

	@import 'print'
