body
	color textColor
	if !!textColor2 && textColor != textColor2 && textColor2!='textColor2'
		color textColor2

	background-color backColor
	if !!backColor2 && backColor != backColor2 && backColor2!='backColor2'
		background-color backColor2

.container
	position	relative

body.preload

	.pages
		visibility	hidden

		&:first-child
			visibility	visible

		.loadingtext
			display		block

		.intotext
			display		none

.pages
	left		0
	right		0
	width		auto
	min-height	650px
	border		1px solid #302F2F
	margin		100px 0 10px 0
	text-align	center
	border-radius 5px
	transition	all 500ms

	&:first-child
		margin		10px 0 10px 0

	&.active
		border		1px solid gray

	.loadingtext
		display		none

	.p1
		.tx1
			position	relative


